rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserData() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data;
    }
    
    function isAdmin() {
      return getUserData().role in ['ADMIN', 'SUPER_ADMIN'];
    }

    match /inventory/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
    
    match /logo/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
